# Game 1 - Spectrum Labeling

What makes a situation safe? What makes it different? Can you develop a program to navigate future pandemics?
Recent events have demonstrated an ongoing struggle to determine what is "safe" during a pandemic. In this game, contestants will be tasked with utilizing readily available information, such as 100+ pages of the CDC Guidelines, and developing an algorithm to map a spectrum of scenarios, from safe to dangerous, to reduce the spread of COVID-19.

## Brainstorming
- pdf scraper
- multi-class classification?  Logistic regression? Recommender system?
- bag of words, N-Grams, Tf-Idf

## Plan of Attack
We are treating this like a sentiment analysis problem.  Instead of the labels being positive or negative, the labels will be low, medium, or high risk.  Using the research Rhodora did to find the risky/safe activities, I created a small labeled dataset to train the model on.

## Part 1: Read the Data
Reading in the self-generated labeled training dataset and fake test dataset.

In [1]:
import pandas as pd
import numpy as np

In [4]:
train = pd.read_csv("selfGeneratedLabelledDataset.csv")
train.sample(10)

                                  key_words  risk_score
170                                telework           0
234                         walking the dog           0
79                                taxi ride           1
256                         virtual meeting           0
97   visiting an elderly friend or relative           1
55                       meeting new people           2
39                    see a concert or play           2
9                              public pools           2
109                        grocery shopping           0
212                         Watching sports           2

This training set was derived from research by Rhodora.  I captured the activities and assigned a risk score:
- 0 = low risk
- 1 = medium risk
- 3 = high risk 

These websites provided a list of activites and scored them according to risk levels as published by CDC.

[1] https://www.cdc.gov/coronavirus/2019-ncov/community/large-events/considerations-for-events-gatherings.html​

[2] https://www.texmed.org/TexasMedicineDetail.aspx?id=54216​

[3] https://finance.yahoo.com/news/coronavirus-health-experts-ranked-activities-risk-132702304.html​

[4] https://www.ksdk.com/article/news/health/coronavirus/covid-19-risk-chart/63-723ae01d-4dc6-4a17-a8f0-1e68013515af​

[5] https://library.stockton.edu/publichealth/COVID-19​

[6] https://www.businessinsider.com/charts-show-coronavirus-risk-for-activities-2020-10

![HACKtheMACHINE](https://www.texmed.org/uploadedimages/Current/2016_About_TMA/Newsroom/News_Releases/COVID-19/TMA%20COVID%20%20309193%20Risk%20Assessment%20Chart.png)

![HACKtheMACHINE](https://infobeautiful4.s3.amazonaws.com/2020/03/Coronavirus-COVID19-riskiest-activities-03.png)

Next for the test set.  These daily activies were derived from these websites: 
- https://games4esl.com/daily-routine-examples/
- https://englishlive.ef.com/blog/english-in-the-real-world/useful-english-phrases-describe-daily-routine/


We will train a model on the training set and predict on the test set.  I personally assigned the risk scores based on my general understanding from the research above (training set).  Obviously, this is not a great test, but it's a resonable proof of concept.

In [5]:
test = pd.read_csv("fakeTestData.csv", sep=',', error_bad_lines=False, warn_bad_lines=True)
test.sample(10)

          daily_activities  risk_score
16        exercise indoors           2
0                  wake up           0
10             read a book           0
20      take out the trash           0
25          watch TV alone           0
29        iron the clothes           0
23       surf the internet           0
2         brush your teeth           0
30            feed the dog           0
8   have lunch with others           2

## Part 2: Data processing

Vectorize the data, using sklearn's countvectorizer

This is a simple way to encode the words as a vector (one-hot encoding).  Follow-on steps will try more sophisticated approaches.

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk import word_tokenize          
from nltk.stem import WordNetLemmatizer 
import nltk


class LemmaTokenizer(object):
    def __init__(self):
        self.wnl = WordNetLemmatizer()
    def __call__(self, articles):
        return [self.wnl.lemmatize(t) for t in word_tokenize(articles)]

In [103]:
def nlpCleanup(df, columnName):
    df[columnName] = df[columnName].str.replace('\d+', '',regex=True) # for digits
    df[columnName] = df[columnName].str.replace(r'(\b\w{1,2}\b)', '',regex=True) # for words
    df[columnName] = df[columnName].str.replace('[^\w\s]', '',regex=True) # for punctuation 
    return df

In [22]:
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Jaimie\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Jaimie\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [106]:
train = nlpCleanup(train, columnName='key_words')
train

                  key_words  risk_score      pred
0    exposure during travel           2  1.336815
1                       bar           2  1.339192
2      large music concerts           2  1.355943
3                    buffet           2  1.336815
4                       gym           2  1.338362
..                      ...         ...       ...
255   retirement facilities           2  1.330153
256         virtual meeting           0  1.218284
257          person meeting           2  1.294385
258      talking  the phone           0  1.319490
259                    cook           0  1.324791

[260 rows x 3 columns]

In [107]:
test = nlpCleanup(test, columnName='daily_activities')
test

          daily_activities  risk_score      pred  rfcPred  vectSum
0                    wake            0  1.336815        0        0
1           have breakfast           0  1.336815        0        0
2         brush your teeth           0  1.336815        2        1
3             take  shower           0  1.336815        0        0
4               take  bath           0  1.336815        0        0
5              get dressed           0  1.336815        0        0
6                   school           2  1.336815        2        1
7            study English           0  1.336815        0        0
8   have lunch with others           2  1.336815        0        0
9          wash the dishes           0  1.255282        2        1
10              read  book           0  1.336815        0        0
11           your homework           0  1.336815        0        0
12             cook dinner           0  1.324791        2        2
13                     bed           0  1.336815        0        0
14     practice the guitar           0  1.332814        2        1
15       play with friends           2  1.341455        2        2
16        exercise indoors           2  1.333148        2        2
17         brush your hair           0  1.336815        2        1
18                shopping           1  1.336815        2        1
19               for  walk           0  1.327453        2        1
20      take out the trash           0  1.336815        0        0
21         clean the house           0  1.336815        2        1
22      read the newspaper           0  1.336815        0        0
23       surf the internet           0  1.336815        0        0
24        water the plants           0  1.331365        2        1
25            watch  alone           0  1.336815        2        1
26                   relax           0  1.336815        0        0
27           listen  music           0  1.336815        2        1
28             the laundry           0  1.336815        0        0
29        iron the clothes           0  1.336815        0        0
30            feed the dog           0  1.330016        2        1
31            walk the dog           0  1.320654        2        2
32              take  taxi           2  1.336815        2        1
33                out  eat           2  1.336815        0        0
34                the mall           1  1.336815        2        1
35     watch  with friends           2  1.341455        2        2

In [108]:
X_train = train.key_words
y_train = train.risk_score


X_test = test.daily_activities
y_test = test.risk_score

In [109]:
vectorizer = CountVectorizer(
    analyzer = 'word',
    ngram_range=(2,2),
    lowercase = True,
    strip_accents='unicode',
    stop_words='english'
)

In [110]:
tf_vectorizer = CountVectorizer(tokenizer=LemmaTokenizer(),
                                strip_accents = 'unicode', 
                                stop_words = 'english', 
                                lowercase = True, 
                                )

In [111]:
features = vectorizer.fit_transform(
    X_train
)
vectorizer.get_feature_names()

['achy muscles',
 'air filtration',
 'air travel',
 'alcohol bar',
 'amusement park',
 'amusement parks',
 'attend wedding',
 'attending backyard',
 'attending concert',
 'attending large',
 'attending religious',
 'backyard barbeque',
 'bank online',
 'bank person',
 'bar club',
 'bar friends',
 'barber shop',
 'barbershop visit',
 'barriers like',
 'basketball friends',
 'beauty salon',
 'bicycle ride',
 'bike ride',
 'boat ride',
 'building air',
 'busy area',
 'car ride',
 'choir practice',
 'class indoors',
 'class inside',
 'cleaning disinfection',
 'close contact',
 'close proximity',
 'closely interact',
 'commonly used',
 'concert music',
 'concert play',
 'concert venue',
 'confined area',
 'contact people',
 'contact sports',
 'convalescence homes',
 'coronavirus positive',
 'cover mouth',
 'covid positive',
 'covid vaccine',
 'crowded beach',
 'crowded classroom',
 'crowded grocery',
 'crowded household',
 'crowded retail',
 'crowded shopping',
 'crowded space',
 'crowded street',
 'crowds face',
 'curbside dining',
 'dentist appointment',
 'dentist office',
 'dinner home',
 'dinner parties',
 'dinner party',
 'disinfect shopping',
 'disinfecting surfaces',
 'disinfecting wipes',
 'don know',
 'don wear',
 'drinking alcohol',
 'drinking friends',
 'drunk lots',
 'eating buffet',
 'eating inside',
 'eating outdoor',
 'eating outside',
 'eating restaurant',
 'elderly friend',
 'emergency department',
 'enclosed spaces',
 'exercise class',
 'exercising gym',
 'exposed coronavirus',
 'exposed covid',
 'exposure travel',
 'eyes nose',
 'face mask',
 'face masks',
 'family gatherings',
 'feet apart',
 'feet space',
 'flying airplane',
 'food takeout',
 'fresh air',
 'friend house',
 'friend relative',
 'friends team',
 'game indoors',
 'gathering indoors',
 'gathering lots',
 'getting covid',
 'getting drunk',
 'getting gas',
 'getting hair',
 'getting nails',
 'getting restaurant',
 'getting takeout',
 'going amusement',
 'going bar',
 'going bike',
 'going camping',
 'going casino',
 'going concert',
 'going friends',
 'going jog',
 'going movie',
 'going museum',
 'going shopping',
 'going sports',
 'going walk',
 'grocery shopping',
 'grocery stores',
 'hair cut',
 'hair nail',
 'hair salon',
 'hand hygiene',
 'hand sanitizer',
 'hands soap',
 'hard social',
 'having dinner',
 'holidays celebrations',
 'hospital emergency',
 'hosting gatherings',
 'increase ventilation',
 'increased cleaning',
 'indoor crowds',
 'indoor dining',
 'indoor party',
 'indoor spaces',
 'indoor worship',
 'inside restaurant',
 'interact longer',
 'interacting people',
 'items surfaces',
 'kids playdate',
 'kids school',
 'large dinner',
 'large family',
 'large gathering',
 'large music',
 'large religious',
 'large social',
 'like plexiglass',
 'live theater',
 'living coronavirus',
 'living covid',
 'living tight',
 'longer interaction',
 'loss smell',
 'lots people',
 'lots strangers',
 'maintain feet',
 'maintain social',
 'medical office',
 'meeting new',
 'meetings family',
 'mouth nose',
 'mouth unwashed',
 'movie theater',
 'multigenerational household',
 'multilayer mask',
 'music concert',
 'music concerts',
 'music performance',
 'nail salon',
 'new people',
 'nose mask',
 'nose mouth',
 'office visit',
 'online meeting',
 'open windows',
 'openair facilities',
 'opening mail',
 'outdoor exercise',
 'outdoor picnic',
 'outdoor restaurant',
 'outdoor spaces',
 'outside restaurant',
 'parties house',
 'people sick',
 'person meeting',
 'physical barriers',
 'physical distance',
 'playing basketball',
 'playing contact',
 'playing football',
 'playing golf',
 'playing soccer',
 'playing tennis',
 'plexiglass screens',
 'plus worshipers',
 'poor ventilated',
 'poorly ventilated',
 'positive person',
 'practice hand',
 'public activities',
 'public bathroom',
 'public pools',
 'public restroom',
 'public transit',
 'public transportation',
 'pumping gasoline',
 'religious service',
 'religious services',
 'restaurant food',
 'restaurant indoors',
 'retail shopping',
 'retail stores',
 'retirement facilities',
 'ridesharing service',
 'running biking',
 'running treadmill',
 'salon barbershop',
 'school daycare',
 'sending kids',
 'service plus',
 'shake hands',
 'shaking hand',
 'shaking hands',
 'share car',
 'sharing drink',
 'shopping cart',
 'shopping mall',
 'singing crowd',
 'sitting crowded',
 'small backyard',
 'small dinner',
 'small outdoor',
 'smell taste',
 'soap water',
 'social distance',
 'social distancing',
 'social gathering',
 'socializing indoors',
 'spaces ventilation',
 'spending time',
 'spin class',
 'sporting events',
 'sports game',
 'sports stadium',
 'sports stadiums',
 'stay home',
 'staying home',
 'staying hotel',
 'swimming ocean',
 'takeout food',
 'taking hike',
 'taking public',
 'taking taxi',
 'talking phone',
 'taxi ride',
 'taxi ridesharing',
 'teeth cleaning',
 'theater live',
 'tight quarters',
 'time people',
 'touch eyes',
 'touch mouth',
 'touch nose',
 'touching commonly',
 'touching surfaces',
 'touchless payment',
 'traveling plane',
 'treadmill gym',
 'uber ride',
 'unwashed hands',
 'use public',
 'used items',
 'ventilated space',
 'virtual gathering',
 'virtual meeting',
 'visiting elderly',
 'visiting friend',
 'visiting hospital',
 'waiting rooms',
 'walking beach',
 'walking busy',
 'walking crowded',
 'walking dog',
 'walking park',
 'wash hands',
 'washing hands',
 'watching friends',
 'watching sports',
 'wear face',
 'wear mask',
 'wearing masks',
 'wedding funeral',
 'wellfitting multilayer',
 'work home',
 'working gym',
 'working office',
 'worship service',
 'young kids',
 'zoom meetings']

In [112]:
features = tf_vectorizer.fit_transform(
    X_train
)
tf_vectorizer.get_feature_names()

D:\Anaconda3\envs\htm\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'u', 'wa'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

['achy',
 'activity',
 'air',
 'airplane',
 'airport',
 'alcohol',
 'amusement',
 'apart',
 'appointment',
 'area',
 'attend',
 'attending',
 'backyard',
 'bank',
 'bar',
 'barbeque',
 'barber',
 'barbershop',
 'barrier',
 'basketball',
 'bathroom',
 'bbq',
 'beach',
 'beauty',
 'bicycle',
 'bike',
 'biking',
 'boat',
 'bowling',
 'buffet',
 'building',
 'bus',
 'busy',
 'camping',
 'car',
 'cart',
 'casino',
 'celebration',
 'chill',
 'choir',
 'church',
 'cinema',
 'class',
 'classroom',
 'cleaning',
 'close',
 'closely',
 'club',
 'clubbing',
 'commonly',
 'concert',
 'confined',
 'contact',
 'convalescence',
 'cook',
 'coronavirus',
 'cough',
 'coughing',
 'cover',
 'covid',
 'crowd',
 'crowded',
 'curbside',
 'cut',
 'daycare',
 'dentist',
 'department',
 'dining',
 'dinner',
 'disinfect',
 'disinfecting',
 'disinfection',
 'distance',
 'distancing',
 'doctor',
 'dog',
 'don',
 'drink',
 'drinking',
 'drunk',
 'eating',
 'elderly',
 'emergency',
 'enclosed',
 'event',
 'exercise',
 'exercising',
 'exposed',
 'exposure',
 'eye',
 'face',
 'facility',
 'family',
 'fan',
 'fever',
 'filtration',
 'flying',
 'food',
 'foot',
 'football',
 'fresh',
 'friend',
 'funeral',
 'game',
 'gas',
 'gasoline',
 'gathering',
 'getting',
 'going',
 'golf',
 'grocery',
 'gym',
 'hair',
 'hand',
 'hanging',
 'hard',
 'having',
 'hike',
 'holiday',
 'home',
 'hospital',
 'hosting',
 'hotel',
 'house',
 'household',
 'hug',
 'hugging',
 'hygiene',
 'increase',
 'increased',
 'indoor',
 'indoors',
 'inside',
 'interact',
 'interacting',
 'interaction',
 'item',
 'jog',
 'kid',
 'know',
 'large',
 'le',
 'like',
 'live',
 'living',
 'longer',
 'loss',
 'lot',
 'mail',
 'maintain',
 'mall',
 'manicure',
 'mask',
 'medical',
 'meeting',
 'mouth',
 'movie',
 'multigenerational',
 'multilayer',
 'muscle',
 'museum',
 'music',
 'nail',
 'new',
 'nightclub',
 'nose',
 'ocean',
 'office',
 'online',
 'open',
 'openair',
 'opening',
 'outdoor',
 'outdoors',
 'outside',
 'park',
 'party',
 'payment',
 'pedicure',
 'people',
 'performance',
 'person',
 'phone',
 'physical',
 'picnic',
 'plane',
 'play',
 'playdate',
 'playground',
 'playing',
 'plexiglas',
 'plus',
 'pool',
 'poor',
 'poorly',
 'positive',
 'ppe',
 'practice',
 'proximity',
 'public',
 'pumping',
 'quarter',
 'relative',
 'religious',
 'restaurant',
 'restroom',
 'retail',
 'retirement',
 'ride',
 'ridesharing',
 'room',
 'running',
 'salon',
 'sanitizer',
 'school',
 'screen',
 'sending',
 'service',
 'shake',
 'shaking',
 'share',
 'sharing',
 'shop',
 'shopping',
 'sick',
 'singing',
 'sitting',
 'small',
 'smell',
 'sneezing',
 'soap',
 'soccer',
 'social',
 'socializing',
 'space',
 'spending',
 'spin',
 'sport',
 'sporting',
 'stadium',
 'stay',
 'staying',
 'store',
 'stranger',
 'street',
 'subway',
 'surface',
 'swimming',
 'takeout',
 'taking',
 'talking',
 'taste',
 'taxi',
 'team',
 'teeth',
 'telework',
 'tennis',
 'theater',
 'tight',
 'time',
 'touch',
 'touching',
 'touchless',
 'transit',
 'transportation',
 'travel',
 'traveling',
 'travelling',
 'treadmill',
 'uber',
 'unwashed',
 'use',
 'used',
 'vaccine',
 'ventilated',
 'ventilation',
 'venturing',
 'venue',
 'virtual',
 'visit',
 'visiting',
 'waiting',
 'walk',
 'walking',
 'wash',
 'washing',
 'watching',
 'water',
 'wear',
 'wearing',
 'wedding',
 'wellfitting',
 'window',
 'wipe',
 'work',
 'working',
 'worship',
 'worshiper',
 'young',
 'zoom']

In [113]:
features_arr = features.toarray() # for easy usage
features_arr.shape

(260, 300)

In [114]:
features_arr

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [115]:
# now apply same vectorizer to test data
X_test_vect = tf_vectorizer.transform(X_test).toarray()
X_test_vect

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

## Part 3 Train a Model

Since the labels range from 0 to 2 and are ordered (not categorical), I will treat this as a regression problem and then threshold to 0, 1, or 2.

Going to try a random forest regressor as a first model.

In [116]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(n_estimators=1000, max_features=0.7, bootstrap=True, max_depth=2, random_state=0)

In [117]:
regr.fit(features_arr, y_train)

RandomForestRegressor(max_depth=2, max_features=0.7, n_estimators=1000,
                      random_state=0)

In [118]:
regr.score(X_test_vect, y_test)

-1.236333840612851

In [119]:
test['pred'] = regr.predict(X_test_vect)
test

          daily_activities  risk_score      pred  rfcPred  vectSum
0                    wake            0  1.336685        0        0
1           have breakfast           0  1.336685        0        0
2         brush your teeth           0  1.336685        2        1
3             take  shower           0  1.336685        0        0
4               take  bath           0  1.336685        0        0
5              get dressed           0  1.336685        0        0
6                   school           2  1.336685        2        1
7            study English           0  1.336685        0        0
8   have lunch with others           2  1.336685        0        0
9          wash the dishes           0  1.261665        2        1
10              read  book           0  1.336685        0        0
11           your homework           0  1.336685        0        0
12             cook dinner           0  1.317937        2        2
13                     bed           0  1.336685        0        0
14     practice the guitar           0  1.333913        2        1
15       play with friends           2  1.339733        2        2
16        exercise indoors           2  1.336295        2        2
17         brush your hair           0  1.336685        2        1
18                shopping           1  1.336685        2        1
19               for  walk           0  1.324371        2        1
20      take out the trash           0  1.336685        0        0
21         clean the house           0  1.336685        2        1
22      read the newspaper           0  1.336685        0        0
23       surf the internet           0  1.336685        0        0
24        water the plants           0  1.334088        2        1
25            watch  alone           0  1.336685        2        1
26                   relax           0  1.336685        0        0
27           listen  music           0  1.336685        2        1
28             the laundry           0  1.336685        0        0
29        iron the clothes           0  1.336685        0        0
30            feed the dog           0  1.331236        2        1
31            walk the dog           0  1.318921        2        2
32              take  taxi           2  1.336685        2        1
33                out  eat           2  1.336685        0        0
34                the mall           1  1.336685        2        1
35     watch  with friends           2  1.339733        2        2

In [120]:
train['pred'] = regr.predict(features_arr)
train

                  key_words  risk_score      pred
0    exposure during travel           2  1.336685
1                       bar           2  1.338400
2      large music concerts           2  1.360909
3                    buffet           2  1.336685
4                       gym           2  1.337434
..                      ...         ...       ...
255   retirement facilities           2  1.334018
256         virtual meeting           0  1.209264
257          person meeting           2  1.290780
258      talking  the phone           0  1.317945
259                    cook           0  1.317937

[260 rows x 3 columns]

## OK, what to do now...
Clearly the results are total crap...
Some options:

    1. play with vectorization encoding (ngram_range=(2, 2))
    2. play with analyzer{‘word’, ‘char’, ‘char_wb’} 
    3. play with model, try different kind of model and play with hyper parameters 
        - classification vs regression
    4. different nlp encoder (i.e. word to vec)

In [121]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=1000, max_features=0.7, bootstrap=True, max_depth=2, random_state=0)

In [122]:
rfc.fit(features_arr, y_train)

RandomForestClassifier(max_depth=2, max_features=0.7, n_estimators=1000,
                       random_state=0)

In [123]:
rfc.score(X_test_vect, y_test)

0.19444444444444445

In [124]:
test['rfcPred'] = rfc.predict(X_test_vect)
test

          daily_activities  risk_score      pred  rfcPred  vectSum
0                    wake            0  1.336685        2        0
1           have breakfast           0  1.336685        2        0
2         brush your teeth           0  1.336685        2        1
3             take  shower           0  1.336685        2        0
4               take  bath           0  1.336685        2        0
5              get dressed           0  1.336685        2        0
6                   school           2  1.336685        2        1
7            study English           0  1.336685        2        0
8   have lunch with others           2  1.336685        2        0
9          wash the dishes           0  1.261665        2        1
10              read  book           0  1.336685        2        0
11           your homework           0  1.336685        2        0
12             cook dinner           0  1.317937        2        2
13                     bed           0  1.336685        2        0
14     practice the guitar           0  1.333913        2        1
15       play with friends           2  1.339733        2        2
16        exercise indoors           2  1.336295        2        2
17         brush your hair           0  1.336685        2        1
18                shopping           1  1.336685        2        1
19               for  walk           0  1.324371        2        1
20      take out the trash           0  1.336685        2        0
21         clean the house           0  1.336685        2        1
22      read the newspaper           0  1.336685        2        0
23       surf the internet           0  1.336685        2        0
24        water the plants           0  1.334088        2        1
25            watch  alone           0  1.336685        2        1
26                   relax           0  1.336685        2        0
27           listen  music           0  1.336685        2        1
28             the laundry           0  1.336685        2        0
29        iron the clothes           0  1.336685        2        0
30            feed the dog           0  1.331236        2        1
31            walk the dog           0  1.318921        2        2
32              take  taxi           2  1.336685        2        1
33                out  eat           2  1.336685        2        0
34                the mall           1  1.336685        2        1
35     watch  with friends           2  1.339733        2        2

from looking at this list, it looks like it defaults to 2, because this is the largest class in the training set.  But we really want it to default to 0 when no "hits" are found with our keyword list. Because of this, I'm going to hack the algorithm, if the sum of the feature vectors is 0, default to class 0.

In [125]:
test['vectSum'] = np.sum(X_test_vect, axis=1) 
test

          daily_activities  risk_score      pred  rfcPred  vectSum
0                    wake            0  1.336685        2        0
1           have breakfast           0  1.336685        2        0
2         brush your teeth           0  1.336685        2        1
3             take  shower           0  1.336685        2        0
4               take  bath           0  1.336685        2        0
5              get dressed           0  1.336685        2        0
6                   school           2  1.336685        2        1
7            study English           0  1.336685        2        0
8   have lunch with others           2  1.336685        2        0
9          wash the dishes           0  1.261665        2        1
10              read  book           0  1.336685        2        0
11           your homework           0  1.336685        2        0
12             cook dinner           0  1.317937        2        2
13                     bed           0  1.336685        2        0
14     practice the guitar           0  1.333913        2        1
15       play with friends           2  1.339733        2        2
16        exercise indoors           2  1.336295        2        2
17         brush your hair           0  1.336685        2        1
18                shopping           1  1.336685        2        1
19               for  walk           0  1.324371        2        1
20      take out the trash           0  1.336685        2        0
21         clean the house           0  1.336685        2        1
22      read the newspaper           0  1.336685        2        0
23       surf the internet           0  1.336685        2        0
24        water the plants           0  1.334088        2        1
25            watch  alone           0  1.336685        2        0
26                   relax           0  1.336685        2        0
27           listen  music           0  1.336685        2        1
28             the laundry           0  1.336685        2        0
29        iron the clothes           0  1.336685        2        0
30            feed the dog           0  1.331236        2        1
31            walk the dog           0  1.318921        2        2
32              take  taxi           2  1.336685        2        1
33                out  eat           2  1.336685        2        0
34                the mall           1  1.336685        2        1
35     watch  with friends           2  1.339733        2        1

In [126]:
test.rfcPred = np.where(test.vectSum==0, 0, test.rfcPred)
test

          daily_activities  risk_score      pred  rfcPred  vectSum
0                    wake            0  1.336685        0        0
1           have breakfast           0  1.336685        0        0
2         brush your teeth           0  1.336685        2        1
3             take  shower           0  1.336685        0        0
4               take  bath           0  1.336685        0        0
5              get dressed           0  1.336685        0        0
6                   school           2  1.336685        2        1
7            study English           0  1.336685        0        0
8   have lunch with others           2  1.336685        0        0
9          wash the dishes           0  1.261665        2        1
10              read  book           0  1.336685        0        0
11           your homework           0  1.336685        0        0
12             cook dinner           0  1.317937        2        2
13                     bed           0  1.336685        0        0
14     practice the guitar           0  1.333913        2        1
15       play with friends           2  1.339733        2        2
16        exercise indoors           2  1.336295        2        2
17         brush your hair           0  1.336685        2        1
18                shopping           1  1.336685        2        1
19               for  walk           0  1.324371        2        1
20      take out the trash           0  1.336685        0        0
21         clean the house           0  1.336685        2        1
22      read the newspaper           0  1.336685        0        0
23       surf the internet           0  1.336685        0        0
24        water the plants           0  1.334088        2        1
25            watch  alone           0  1.336685        0        0
26                   relax           0  1.336685        0        0
27           listen  music           0  1.336685        2        1
28             the laundry           0  1.336685        0        0
29        iron the clothes           0  1.336685        0        0
30            feed the dog           0  1.331236        2        1
31            walk the dog           0  1.318921        2        2
32              take  taxi           2  1.336685        2        1
33                out  eat           2  1.336685        0        0
34                the mall           1  1.336685        2        1
35     watch  with friends           2  1.339733        2        1

In [127]:
accuracy = np.sum(np.where(test.rfcPred==test.risk_score, 1, 0))/len(test)
accuracy

0.5833333333333334

In [128]:
#correct results
test[test.rfcPred==test.risk_score]

       daily_activities  risk_score      pred  rfcPred  vectSum
0                 wake            0  1.336685        0        0
1        have breakfast           0  1.336685        0        0
3          take  shower           0  1.336685        0        0
4            take  bath           0  1.336685        0        0
5           get dressed           0  1.336685        0        0
6                school           2  1.336685        2        1
7         study English           0  1.336685        0        0
10           read  book           0  1.336685        0        0
11        your homework           0  1.336685        0        0
13                  bed           0  1.336685        0        0
15    play with friends           2  1.339733        2        2
16     exercise indoors           2  1.336295        2        2
20   take out the trash           0  1.336685        0        0
22   read the newspaper           0  1.336685        0        0
23    surf the internet           0  1.336685        0        0
25         watch  alone           0  1.336685        0        0
26                relax           0  1.336685        0        0
28          the laundry           0  1.336685        0        0
29     iron the clothes           0  1.336685        0        0
32           take  taxi           2  1.336685        2        1
35  watch  with friends           2  1.339733        2        1

In [129]:
#incorrect results
test[test.rfcPred!=test.risk_score]

          daily_activities  risk_score      pred  rfcPred  vectSum
2         brush your teeth           0  1.336685        2        1
8   have lunch with others           2  1.336685        0        0
9          wash the dishes           0  1.261665        2        1
12             cook dinner           0  1.317937        2        2
14     practice the guitar           0  1.333913        2        1
17         brush your hair           0  1.336685        2        1
18                shopping           1  1.336685        2        1
19               for  walk           0  1.324371        2        1
21         clean the house           0  1.336685        2        1
24        water the plants           0  1.334088        2        1
27           listen  music           0  1.336685        2        1
30            feed the dog           0  1.331236        2        1
31            walk the dog           0  1.318921        2        2
33                out  eat           2  1.336685        0        0
34                the mall           1  1.336685        2        1